.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  height: auto;
  min-width: 300px;
  background-color: rgba(100, 100, 100, 0.8);
  color: #fff;
  text-align: left;
  border-radius: 4px;

  /* Position the tooltip */
  position: absolute;
  z-index: 99;
}
.tooltip .tooltiptext .flex-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.tooltip .tooltiptext .title {
  color: white;
  font-size: 14pt;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
