.my-active {
  background-color: #7cff70;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.scroll {
  overflow: scroll;
  position: relative;
}

.modal {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
